<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title fs-14px  fw-bolder">Actualizar archivo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <select [(ngModel)]="tipoSoporte" name="tipoSoporte">
      <option value="tipo1">Tipo 1</option>
      <option value="tipo2">Tipo 2</option>
      <option value="tipo3">Tipo 3</option>
    </select>
    <input type="file" (change)="onFileSelected($event)">
    <button (click)="cargarArchivo()">Cargar Archivo</button>
  </div>
</ng-template>